/* 768 ///////////////////////////////////*/

@media screen and (min-width:768px) {

    main {

        /*debug*/
        background-color: aquamarine;
        width: calc(100vw - 230px);
    }


    .logo {

        display: none;
    }

    .logo-L {

        width: 135px;
        display: block;
    }

    .menu {

        span {

            display: unset;
        }
    }

    .playlist {

        display: block;
        color: var(--light-color);

        a:link {

            color: var(--mid-color);
        }
    }

    .us-do {

        span {
            display: unset;
        }
    }

    .download {

        color: var(--light-color);

        span {

            padding-left: 0.5rem;
            color: var(--);
            font-size: 0.7rem;
        }
    }

    .user {

        align-items: center;


        span {

            padding-left: 0.5rem;
            color: var(--light-color);
            font-size: small;
        }

    }

    .sidebar {

        width: 230px;
    }

    /*MAIN*/

    .bt-upgrade {

        a:hover {

            font-size: 1rem;

        }

    }

}

/* 992///////////////////////////////////*/

@media screen and (min-width:992px) {

    main {

        /*debug*/
        background-color: brown;
    }
}

/* 1200///////////////////////////////////*/


@media screen and (min-width:1200px) {

    main {

        /*debug*/
        background-color: violet;
    }
}