/* 768 ///////////////////////////////////*/

@media screen and (min-width:768px) {

    main {

        /*debug*/
        background-color: rgba(18, 68, 51, 0.705);
        width: calc(100vw - 230px);
    }


    .logo {

        display: none;
    }

    .logo-L {

        height: 7%;
        width: 135px;
        display: block;
    }

    .menu {

        height: 15%;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;
        padding-left: 1rem;

        span {

            display: unset;
            font-size: 0.9rem;
            font-weight: 600;
        }

    }

    .menu-icon {

        align-items: center;

        span {
            padding-left: 0.5rem;
        }
    }

    .playlist {

        height: 55%;
        display: block;
        color: var(--light-color);
        margin-left: 1rem;

    
        a:link,
        a:visited {

            color: var(--mid-color);
            text-decoration: none;

        }
    }

    .us-do {

        height: 15%;
        align-items: flex-start;
        justify-content: flex-end;
        
        hr {

            visibility: visible;
    
        }

        span {
            display: unset;
        }
    }

    .download {

        align-items: center;

        img {

            width: 20px;
        }
    }

    .download {

        color: var(--light-color);

        span {

            padding-left: 0.5rem;
            color: var(--);
            font-size: 0.7rem;
        }
    }

    .user {

        align-items: center;


        span {

            padding-left: 0.5rem;
            color: var(--light-color);
            font-size: small;
        }

    }

    .sidebar {

        width: 230px;
    }

   

    /*MAIN*/

    .bt-upgrade {

        a:hover {

            font-size: 1rem;

        }

    }

    .box-album {

        width: calc(100% / 2 - 1rem);

    }

}

/* 992///////////////////////////////////*/

@media screen and (min-width:992px) {

    main {

        /*debug*/
        background-color: rgb(94, 25, 25);
    }

    .box-album {

        width: calc(100% / 4 - 1rem);

    }
}

/* 1200///////////////////////////////////*/


@media screen and (min-width:1200px) {

    main {

        /*debug*/
        background-color: rgb(104, 50, 104);
    }

    .box-album {

        width: calc(100% / 6 - 1rem);

    }
}