/* COLORS */

:root {

    --dark-color: black;
    --less-dark-color: #080b12;
    --light-color: white;
    --main-color: #141922;
    --player-color: #282828;
    --mid-color: #707070;
}


/* UTILITY */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px grey dashed;*/
}

.flex {

    display: flex;
}

img {

    display: block;
    width: 100%;
}

/* COMMON REGION */

body {

    font-family: "Montserrat", serif;
}


/*STRUCTURE*/

.sidebar {

    width: 50px;
    background-color: var(--dark-color);
}

main {

    background-color: var(--main-color);
    width: 100%;
}

.upgrade {

    height: 85px;
    background-color: var(--less-dark-color);
}

.filter {

    height: 95px;
}

.bottom {

    height: 90px;
    background-color: var(--player-color);
}

/* END DEBUG */

/*SIDEBAR*/

.logo {

    width: 30px;
}

.logo-L {

    width: 135px;
    margin: 1.5rem;
    display: none;
}

.menu {

    color: var(--light-color);
    flex-direction: column;

    span {

        display: none;
    }

    img {
        width: 20px;
        display: inline;
    }
}

.playlist {

    display: none;

    i {

        background-color: var(--mid-color);
        color: var(--player-color);
        padding: 0.5rem;
    }

}

.us-do {

    span {
        
        display: none;
    }
}


.download {

    align-items: center;

    img {

        width: 20px;
    }
}


.user-img {

    background-image: url(/assets/img/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    background-color: var(--mid-color);
    border-radius: 50%;

}

/* END SIDEBAR */

/*MAIN*/

main {

    height: calc(100vh - 90px);
    overflow-y: auto;

}

.upgrade {

    justify-content: flex-end;
    align-items: center;

    a:link,
    a:visited {

        color: var(--light-color);
        text-decoration: none;
    }
}

.bt-upgrade {

    border: 2px solid var(--light-color);
    background-color: transparent;
    padding: 1rem 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 2rem;
    vertical-align: middle;
    font-size: 0.8rem;
    text-align: center;

}


.filter {


    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 0.8rem;


    a:link,
    a:visited {

        text-decoration: none;
        color: var(--light-color);
        padding-inline: 1.5rem;
        padding-top: 1rem;

    }

    span:hover {

        border-bottom: 2px solid greenyellow;

    }

}

/*RECENTLY PLAYED*/

.title-gallery {

    color: var(--light-color);
    margin: 1rem;
}

.category {

    margin: 1rem;
    display: flex;
    flex-wrap: wrap;


}

.box-album {

    max-width: 170px;
    margin-right: 1rem;
    text-align: center;
    line-height: 1.5rem;

    :hover {

        .overlay {

            display: unset;
        }
    }

    h4 {

        padding-top: 0.5rem;
        color: var(--light-color);
    }

    span {

        color: var(--mid-color);
    }
}

.cover {

    position: relative;
}

.overlay {

    font-size: 3rem;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.586);
    color: var(--light-color);

}

.overlay:before {

    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* END MAIN */