/* COLORS */

:root {

    --dark-color: black;
    --less-dark-color: #080b12;
    --light-color: white;
    --main-color: #141922;
    --player-color: #282828;
    --mid-color: #707070;
}


/* UTILITY */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px grey dashed;
}

.flex {

    display: flex;
}

img {

    display: block;
    width: 100%;
}

/* COMMON REGION */

body {

    font-family: "Montserrat", serif;
}


/*DEBUG*/

.sidebar {

    width: 50px;
    background-color: black;
}

main {


    background-color: var(--main-color);

    .filter {

        height: 95px;
    }
}


.login {


    height: 85px;
    background-color: var(--less-dark-color);
}

.bottom {


    height: 90px;
    background-color: var(--player-color);
}

/* END DEBUG */

/*MAIN*/

main {

    height: calc(100vh - 90px);
    overflow-y: auto;
}

.music {}

.logo {

    width: 30px;
}

.logo-L {

    width: 135px;
    display: none;
}


/*SIDEBAR*/

.menu {

    color: var(--light-color);
    flex-direction: column;
}

.playlist {

    display: none;
}